<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: </p>
          <p>Phone: +123 456 7890</p>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-white mr-2">Facebook</a>
          <a href="#" class="text-white mr-2">Twitter</a>
          <a href="#" class="text-white">LinkedIn</a>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <a href="/" class="text-white d-block">Home</a>
          <a href="/about" class="text-white d-block">About Us</a>
          <a href="/contact" class="text-white d-block">Contact</a>
        </div>
      </div>
      <div class="text-center mt-3">
        <p>&copy; 2024 Ticket Tracker. All rights reserved.</p>
      </div>
    </div>
  </footer>
  