<p>residence works!</p>

<ul class="list-group" *ngFor="let r of listResidences, let p=index">

    <li class="list-group-item">
        {{r.id}} - {{r.name}} - {{r.address}}
        <button class="btn btn-success" (click)="showApp(r.id)">show App</button>
    </li>
</ul>

<table class="table" border="1" *ngIf="list.length!=0">
    <tr>
        <th> appartNum</th>
        <th> FloorNum</th>
        <th> surface</th>
        <th> terrace</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let a of list">
        <td>{{a.appartNum}}</td>
        <td>{{a.floorNum}}</td>
        <td>{{a.surface}}</td>
        <td>{{a.terrace}}</td>
        <td><button class="btn btn-primary" (click)="favoris(a.id)">Like</button></td>
    </tr>
</table>

<ng-container *ngIf="list.length==0">
    No Appartement
</ng-container>