<p>
    UpdateProduct</p>

<form class="form-group" [formGroup]="registerForm">

    <label>Id</label>
    <input class="form-control" type="text" placeholder="cin" formControlName="id">

    <div class="alert alert-danger" *ngIf="this.registerForm.controls['id'].invalid && this.registerForm.controls['id'].touched">
        <div *ngIf="this.registerForm.controls['id'].hasError('required')"> id est obligatoire</div>
    </div>

    <label>Title</label>
    <input class="form-control" type="text" placeholder="name" formControlName="title">

    <div class="alert alert-danger" *ngIf="this.registerForm.controls['title'].invalid && this.registerForm.controls['title'].touched">
        <div *ngIf="this.registerForm.controls['title'].hasError('required')"> title est obligatoire</div>
        <div *ngIf="this.registerForm.controls['title'].hasError('minlength')"> title doit etre plus de 3 caractere </div>

    </div>
    <label>price</label>
    <input class="form-control" type="text" placeholder="email" formControlName="price">
    <div class="alert alert-danger" *ngIf="this.registerForm.controls['price'].invalid && this.registerForm.controls['price'].touched">
        <div *ngIf="this.registerForm.controls['price'].hasError('required')"> price est obligatoire</div>
    </div>

    <label>quantity</label>
    <input class="form-control" type="text" placeholder="password" formControlName="quantity">
    <div class="alert alert-danger" *ngIf="this.registerForm.controls['quantity'].invalid && this.registerForm.controls['quantity'].touched">
        <div *ngIf="this.registerForm.controls['quantity'].hasError('required')"> quantity est obligatoire</div>
    </div>
    <label>like</label>
    <input class="form-control" type="text" placeholder="password" formControlName="nbrLike">

    <div class="alert alert-danger" *ngIf="this.registerForm.controls['nbrLike'].invalid && this.registerForm.controls['nbrLike'].touched">
        <div *ngIf="this.registerForm.controls['nbrLike'].hasError('required')"> nbrLike est obligatoire</div>
    </div>

    <input class="btn btn-info" type="submit" value="save" (click)="save()" [disabled]="registerForm.invalid">


</form>