.set-team-container {
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.search-team-section {
  margin-bottom: 20px;
}

.teams-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s;
  min-height: 150px;
}

.team-card:hover {
  background-color: #e0e0e0;
}

.project-details-card {
  /* Dynamically adjusts to content length */
  max-width: 100%; /* Full width of its container */
  min-width: 300px; /* Minimum width to ensure readability */
  max-height: auto; /* Allows height to adjust based on content */
  overflow: auto; /* Adds scroll if content exceeds max height */
  border-radius: 8px; /* Slightly rounded corners for a better look */
  margin-bottom: 20px;
}

.selected-team-details-card {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #e3f2fd;
}
